<div class="page-container">
  <div class="section section-wide">
    <div class="container text-center">
      <h1 class="my-md-5">Africalight Foundation</h1>
      <h2>Our Vision</h2>
      <h4 class="mb-md-5"> To identify the undiscovered African talent then nature it and bring it to the world thery by improving
        livelihoods
      </h4>
      <h2>Our Mission Statement</h2>
      <h4> To be the leading organization that help talented youth in areas of music; art and enterpreneurship
      </h4>
      <h2 class="mt-md-5">Our Values</h2>
      <h4>Integrity</h4>
      <h4>Hard work</h4>
      <h4>Creativity</h4>
      <h4>Ubuntu</h4>
    </div>
  </div>
</div>
