<div class="page-container">
  <div class="content">
    <div class="section section-wide">
      <div class="contain text-center">
        <h2>Our Vision</h2>
        <h5> To identify the undiscovered African talent then nature it and bring it to the world thery by improving
          livelihoods
        </h5>
        <h2>Our Mission Statement</h2>
        <h5> To be the leading organization that help talented youth in areas of music; art and enterpreneurship
        </h5>
        <h2>Our Values</h2>
        <ul>
          <li>Integrity</li>
          <li>Hard work</li>
          <li>Creativity</li>
          <li>Ubuntu</li>
        </ul>
      </div>
    </div>
  </div>
</div>
