.login-page {
  min-height: calc(100% - 372px);
}

.login-container {
  max-width: 960px;
}

.login-form-container{
  padding: 16px;
}

.form-container {
  width: 100%;

  * {
    width: 100%;
  }
}

.mat-card {
  padding: 0;
}
