<div class="page-container">
  <div class="content">
    <div class="section section-wide">
      <div class="container">
        <h2 class="my-md-5">Aficalight Foundation</h2>
        <h3>Our Address</h3>
        Africalight Foundation Head Office <br>
        2a Linden Avenue <br>
        Swindon <br>
        Wiltshire <br>
        SN2 1QJ <br>
        <h3 class="mt-md-5 mt-3">Telephone number</h3>
        <a href="tel:+447368244580">+44 7368244580</a>
        <h3 class="mt-md-5 mt-3">Drop us an email</h3>
        <a href="mailto:info@africalightfoundation.com">info@africalightfoundation.com</a> <br>
        <a href="mailto:africalight.org@yahoo.com">africalight.org@yahoo.com</a>
      </div>
    </div>
  </div>
</div>
