<div class="page-container">
  <div class="content">
    <div class="section section-wide">
      <div class="contain">
        <h2>Aficalight Foundation</h2>
        <h3>Our Address</h3>
        Africalight Foundation Head Office
        2a Linden Avenue
        Swindon
        Wiltshire
        SN2 1QJ
        <h3>Telephone number</h3>
        <a href="tel:+447368244580">+44 7368244580</a>
        <h3>Drop us an email</h3>
        <a href="mailto:info@africalightfoundation.com">info@africalightfoundation.com</a>
        <a href="mailto:africalight.org@yahoo.com">africalight.org@yahoo.com</a>
      </div>
    </div>
  </div>
</div>
