<mat-toolbar color="primary">
  <span>Africalight Foundation</span>

  <!-- This fills the remaining space of the current row -->
  <span class="dgl-expanded"></span>

  {{user?.firstName}}
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
    <button *ngIf="user" mat-menu-item (click)="logout()">Logout</button>
    <button *ngIf="!user" mat-menu-item (click)="login()">Login</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>
