<mdb-navbar SideClass="navbar  navbar-expand-lg navbar-dark blue darken-5">
  <mdb-navbar-brand><a href="/" class="navbar-brand">Africalight Foundation</a></mdb-navbar-brand>

  <!-- This fills the remaining space of the current row -->
  <span class="dgl-expanded"></span>

  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link waves-light" routerLink="/about" mdbWavesEffect>About</a>
      <a class="nav-item nav-link waves-light" routerLink="/team" mdbWavesEffect>Team</a>
      <a class="nav-item nav-link waves-light" routerLink="/dashboard" mdbWavesEffect>Dashboard</a>
      <a class="nav-item nav-link waves-light" routerLink="/contact" mdbWavesEffect>Contact</a>
      <a class="nav-item nav-link waves-light" *ngIf="!user" routerLink="/login" mdbWavesEffect>Login</a>
      <a class="nav-item nav-link waves-light" *ngIf="user" (click)="logout()" mdbWavesEffect>Log out
        {{user?.firstName}}</a>
    </div>
  </links>
</mdb-navbar>

<router-outlet></router-outlet>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Africalight Foundation</h5>
        <p>
          Africalight Foundation Head Office <br>
          2a Linden Avenue <br>
          Swindon <br>
          Wiltshire <br>
          SN2 1QJ</p>
        <a href="tel:+447368244580">+44 7368244580</a> <br>
        <a href="mailto:info@africalightfoundation.com">info@africalightfoundation.com</a>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Navigation</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/incubator">Incubation</a>
          </li>
          <li>
            <a routerLink="/showcase">Showcase</a>
          </li>
          <li>
            <a routerLink="/artists">Artists</a>
          </li>
          <li>
            <a *ngIf="user == null" routerLink="/login">Login</a>
            <a *ngIf="user != null" (click)="logout()">Log out</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Help</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/contact">Contact us</a>
          </li>
          <li>
            <a routerLink="/team">Team</a>
          </li>
          <li>
            <a routerLink="/about">About Us</a>
          </li>
          <li>
            <a routerLink="/privacy">Privacy</a>
          </li>
          <li>
            <a routerLink="#!">Stoff</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://africalight.org/">Africalight Foundation</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
