.dgl-p-4 {
  padding: 4px;
}

.dgl-p-8 {
  padding: 8px;
}

.dgl-p-16 {
  padding: 16px;
}

.dgl-m-4 {
  margin: 4px;
}

.dgl-m-8 {
  margin: 8px;
}

.dgl-m-16 {
  margin: 16px;
}

.dgl-w-360{width: 360px;}
.dgl-w-480{width: 480px;}
.dgl-w-720{width: 720px;}
.dgl-w-960{width: 960px;}
.dgl-w-1024{width: 1024px;}
.dgl-w-1200{width: 1200px;}

.dgl-wmx-360{width: 360px;}
.dgl-wmx-480{width: 480px;}
.dgl-wmx-720{width: 720px;}
.dgl-wmx-960{width: 960px;}
.dgl-wmx-1024{width: 1024px;}
.dgl-wmx-1200{width: 1200px;}

.dgl-wmn-360{width: 360px;}
.dgl-wmn-480{width: 480px;}
.dgl-wmn-720{width: 720px;}
.dgl-wmn-960{width: 960px;}
.dgl-wmn-1024{width: 1024px;}
.dgl-wmn-1200{width: 1200px;}
