<div class="container-fluid">
  <div class="section">
    <div class="container text-center">
      <h1 class="my-5">Meet the team</h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 text-center">
          <img class="rounded-circle img-fluid z-depth-1-half" style="width: 256px; height: 256px;"
               src="/assets/img/person.jpg"/>
          <h3 class="color-primary my-2">Davison Dube</h3>
          <h4>Trustee</h4>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda dolore, eligendi ipsa
            laborum maiores molestiae nemo pariatur sint sunt. Consectetur nihil ratione sed? Cum dignissimos eos libero
            nihil vel?</h5>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img class="rounded-circle img-fluid z-depth-1-half" style="width: 256px; height: 256px;"
               src="/assets/img/person.jpg"/>

          <h3 class="color-primary my-2">Sithobekile Dube Ndlovu </h3>
          <h4>Trustee</h4>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut earum explicabo in iure magni maxime odit
            quas quos sapiente totam. Ab deleniti dicta earum explicabo id natus obcaecati pariatur veniam!</h5>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img class="rounded-circle img-fluid z-depth-1-half" style="width: 256px; height: 256px;"
               src="/assets/img/person.jpg"/>

          <h3 class="color-primary my-2">Tafara Malachia Mundere</h3>
          <h4>Trustee</h4>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet at beatae blanditiis dolorem enim
            est ipsum iure laudantium, magni nostrum omnis optio quam quod, reprehenderit rerum temporibus voluptas
            voluptate!</h5>
        </div>
      </div>
    </div>
  </div>
</div>
