<div class="page-container full-bg-img">
  <div class="container">
    <p>{{user?.firstName + user?.lastName}} Profile Is Kinda Working</p>
  </div>
  <div class="row container-fluid">
    <nav class="nav flex-column" style="width: 128px;">
      <a class="nav-link active" routerLink="videos">Video pitch</a>
      <a class="nav-link" routerLink="songs">Songs samples</a>
      <a class="nav-link" routerLink="practice">Practice</a>
      <a class="nav-link" routerLink="reading">Reading</a>
      <a class="nav-link" routerLink="mentoring">Mentoring</a>
      <a class="nav-link" routerLink="meeting">Meeting</a>
      <a class="nav-link" routerLink="learn">Learn</a>
      <a class="nav-link" routerLink="producer">Producer</a>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
