<div class="page-container full-bg-img">
  <div class="row container-fluid">
    <div class="col z-depth-1 h-100" style="flex-grow: 0;">
      <nav class="nav flex-column">
        <a class="nav-link active" routerLink="videos">Video pitch</a>
        <a class="nav-link" routerLink="songs">Songs samples</a>
        <a class="nav-link" routerLink="practice">Practice</a>
        <a class="nav-link" routerLink="reading">Reading</a>
        <a class="nav-link" routerLink="mentoring">Mentoring</a>
        <a class="nav-link" routerLink="meetings">Meeting</a>
        <a class="nav-link" routerLink="learn">Learn</a>
        <a class="nav-link" routerLink="producer">Producer</a>
      </nav>
    </div>
    <div class="col">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="container">
    <p>{{user?.firstName + user?.lastName}}</p>
  </div>
</div>
