// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$aflite-primary: mat-palette($mat-blue);
$aflite-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$aflite-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$aflite-theme: mat-light-theme($aflite-primary, $aflite-accent, $aflite-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($aflite-theme);

/* You can add global styles to this file, and also import other style files */

@import "app/dgl-commons";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Open Sans Condensed, "Helvetica Neue", sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: Nunito, "Helvetica Neue", sans-serif;
  }
}

//Theming the application. Sometimes I thing material is really stupid. If only
//bootstrap had better angular support I wouldn't have to deal with this mess...

.background-primary {
  background-color: mat-color($aflite-primary);
  color: #ffffff;
}

.background-accent {
  background-color: mat-color($aflite-accent);
  color: #ffffff;
}

.background-warn {
  background-color: mat-color($aflite-warn);
  color: #ffffff;
}

.bg-light {
  background-color: #eeeeee;
  color: #111111;
}

.bg-dark {
  background-color: #111111;
  color: #eeeeee;
}

.color-primary {
  color: mat-color($aflite-primary);
}

.color-accent {
  color: mat-color($aflite-accent);
}

.color-warn {
  color: mat-color($aflite-warn);
}

.color-light {
  color: #ffffff;
}

.color-dark {
  color: #000;
}

.dgl-expanded {
  flex: 1 1 auto;
}

/* <app-root></app-root> */
app-root {
  min-height: 100%;
}

.contain{
  max-width: 960px;
}

.page-container {
  height: calc(100% - 64px);
}

.header {
  height: 360px;
  background-position: center;
  background-size: cover;
}

.text-center {
  text-align: center;
}




