<div class="page-container">
  <div style="background-image: url('/assets/img/M550i-750x500.jpg');"
       class="header text-center color-light">
    <div class="container flex-center flex-column">
      <h1 class="row">AfricaLight Foundation</h1>
      <h2 class="row">Where dreams are made</h2>
      <a routerLink="/contact" mdbBtn="">Get in touch</a>
    </div>
  </div>

  <div class="section section-wide text-center">
    <div class="container">
      <h2 class="my-5">Our Vision</h2>
      <h3>To identify the undiscovered African talent then nature it and bring it to the world thery by improving
        livelihoods</h3>
    </div>
  </div>

  <div class="section section-wide">
    <div class="container">
      <h2 class="mt-5">Recent profiles</h2>
      <div class="row">
        <mdb-card class="dgl-w-360 dgl-m-8 rounded">
          <mdb-card-img class="rounded" src="/assets/img/M550i-750x500.jpg" alt="Photo of a Shiba Inu"></mdb-card-img>
          <mdb-card-body class="rounded">
            <mdb-card-title><h4>Edmore M Dollarz</h4></mdb-card-title>
            <p>
              Edmore is the youngest of one child.
              Interest in music sparked earlier on, and since then he's been a Good Boi
            </p>
            <a routerLink="/artists/id" mdbBtn color="primary" mdbWavesEffect>View</a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>

  <div class="section section-wide">
    <div class="container mb-3">
      <h2 class="mt-5">Crowd Funding</h2>
      <h3>These people need some financial assistance. A little goes a long way to help them realise their
        vision</h3>
      <div class="card-deck">
        <mdb-card class="dgl-w-360 dgl-m-8">
          <div mat-card-avatar class="example-header-image"></div>
          <mdb-card-img src="/assets/img/M550i-750x500.jpg" alt="Photo of a Shiba Inu"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title><h4>Edmore M Dollarz</h4></mdb-card-title>
            <p>
              Edmore is the youngest of one child.
              Interest in music sparked earlier on, and since then he's been a Good Boi
            </p>
            <a routerLink="/artists/id" mdbBtn color="primary" mdbWavesEffect>View</a>
          </mdb-card-body>
        </mdb-card>
        <mdb-card class="dgl-w-360 dgl-m-8">
          <div mat-card-avatar class="example-header-image"></div>
          <mdb-card-img src="/assets/img/M550i-750x500.jpg" alt="Photo of a Shiba Inu"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title><h4>Miss Tree</h4></mdb-card-title>
            <p>
              Mystery.
            </p>
            <a routerLink="/artists/id" mdbBtn color="primary" mdbWavesEffect>View</a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
